* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: inherit;
}

html {
    height: 100%;
    max-width: 100%;
}

body {
    min-height: 100%;
    max-width: 100%;
    background-color: #0B0C0D;
    overflow-x: hidden;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    height: 4rem;
    padding: 0 1rem;
}

.links {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.hamburger-menu {
    all: unset;
    cursor: pointer;
}

a {
    color: #C5E8B4;
    text-decoration: none;
}

.logo-link {
    text-transform: uppercase;
}

.right-links {
    display: none;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 0 1rem;
    margin-top: 4rem;
}

.hero-heading,
.hero-text {
    margin-top: 1rem;
}

.hero-heading-top {
    color: white;
}

.hero-heading {
    color: #D7B4E8;
    font-weight: 800;
    font-size: 3.75rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 100%;
}

.hero-text {
    color: white;
    font-size: 1.25rem;
    font-weight: 300;
    font-family: 'Bitter';
}

.landing-page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 4.625rem;
    margin-bottom: 8.5rem;
}

.footer-text {
    color: #D9D9D9;
    font-weight: 300;
    text-align: center;
}

.arrow {
    color: #D9D9D9;
}

.design-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-thumbnail {
    margin: 0.5rem 1rem;
    max-width: calc(100vw - 2rem);
}

.project-thumbnail-desktop {
    display: none;
}

@media (min-width: 768px) {
    .nav-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        /* height: 4rem; CHANGE THIS */
        padding: 1rem 5rem;
    }

    .hamburger-menu {
        display: none;
    }

    .right-links {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6.188rem;
    }

    .hero {
        margin-top: 6rem;
        gap: 2rem;
    }

    .hero-heading {
        font-size: 8rem;
    }

    .hero-text {
        font-size: 2.5rem;
    }

    .landing-page-footer {
        margin-top: 10rem;
    }

    .design-projects {
        display: grid;
        grid-template-columns: fit-content(100%) fit-content(100%);
        grid-gap: 1.25rem;
        width: 100vw;
        justify-items: center;
    }
    
    .project-thumbnail {
        display: none;
    }

    .project-thumbnail-desktop {
        display: block;
        max-width: calc((100vw - 11.25rem) / 2);
    }

}

@media (min-width: 1440px) {
    
    .landing-page-footer {
        margin-top: 12rem;
    }

    .project-thumbnail {
        display: none;
    }

    .project-thumbnail-destkop {
        display: block;
    }

}


/* ikea project page */

.ikea-page {
    background-color: white;
}

.main-project-img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.project-text-content {
    padding: 2rem 1rem;
    background-color: #175AA9;
    color: white;
}

.project-title {
    font-weight: 800;
    font-size: 1.5rem;
}

.project-name {
    font-weight: 500;
    font-style: italic;
    font-size: 1.5rem;
}

.project-description {
    white-space: pre-line;  
    margin-top: 1.5rem;
    font-family: 'Bitter', serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
}

.project-description > span {
    font-family: 'Bitter', serif;
    font-weight: 700;
}

.gallery {
    background-color: white;
    color: black;
    padding: 2rem 1rem;
}

.gallery-description {
    font-family: 'Bitter', serif;
    line-height: 150%;
    margin-bottom: 2rem;
}

.gallery-images {
    display: grid;
    grid-template-areas:
        "one two"
        "three four"
        "five four"
        "five six"
        "seven six";
    gap: 0.5rem;
}

.grid-1 {
    grid-area: one;
}

.grid-2 {
    grid-area: two;
}

.grid-3 {
    grid-area: three;
}

.grid-4 {
    grid-area: four;
}

.grid-5 {
    grid-area: five;
}

.grid-6 {
    grid-area: six;
    align-self: end;
}

.grid-7 {
    grid-area: seven;
}

.gallery-images > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

